<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itemmanager.ItemMapper">
    <select id="readItems" resultType="com.itemmanager.Item">
        SELECT id, name
        FROM item
    </select>
    <select id="readItemName" resultType="String">
        SELECT name
        FROM item
        WHERE id = #{id}
    </select>
    <insert id="createItem">
        INSERT INTO item
        VALUES (NULL, #{name});
    </insert>
</mapper>